#contConsult{
	background: white;
	height: inherit;
	padding-top: 50px;
	padding-left: 25px;
	.topicLibelle{
		margin-left: 15px;
		font-size: 18px;
		font-weight: bold;
		.topicValues{
			font-weight: normal;
		}
	}
	.attributescontainer{
		.attributImg{
			width: 200px;
		}
		.fieldset-attributes{
			width : 40%;
			display: inline;
		}
	}
	.imgDl{
		width: 100px;
	}
}
